<div class="page-layout simple fullwidth song-list">
    <div class="content p-24">
        <div class="mat-card mat-elevation-z4">
            <div class="progress-bar-container">
                <mat-progress-bar [color]="'accent'" [mode]="'indeterminate'" *ngIf="isLoading"></mat-progress-bar>
            </div>
            <div class="page-columns">
                <div class="concert-container" fxFlex="3 1 auto">
                    <div class="search-container px-20">
                        <sb-song-text-search

                            [title]="'Search songs by title'"
                            [foundSongs]="foundTextSearchSongs"
                            (songTextSearch)="handleSongTextSearch($event)"
                            (songSelect)="handleSongSelect($event)"
                            fxFlex="1 0 auto"
                            class="pr-8"
                        ></sb-song-text-search>
                    </div>

                    <div class="song-container px-20 mb-12" *ngIf="operateSong" fxLayoutAlign="start center">
                        <div fxFlex="1 0 300px" fxLayout="column">
                            <sb-song-header
                                [song]="operateSong"

                            ></sb-song-header>
                            <sb-song-tag-list
                                *ngIf="operateSong.tags && operateSong.tags.length > 0"
                                [tags]="operateSong.tags"
                                [isViewMode]="true"
                                class="mt-16"
                                fxFlex="1 0 auto"
                            >

                            </sb-song-tag-list>
                            <div class="song-controls mt-16">
                                <a [routerLink]="'/song/' + operateSong.id">Go to the Song Page</a>
                            </div>
                        </div>
                        <div class="song-controls"
                             fxFlex="1 0 auto"
                        >
                            <button mat-flat-button color="primary" (click)="handleAddSongToConcert(operateSong, operateConcert)">Add Into Performance</button>
                        </div>
                        <!-- + song tags  -->
                    </div>

                    <div class="concert-container px-20" fxFlexAlign="column">
                        <sb-concert-summary
                            [concert]="operateConcert"
                            class="mb-16"
                        ></sb-concert-summary>
                        <div class="concert-controls mb-12">
                            <button mat-flat-button color="accent" (click)="handleConcertAddFormToggle()">New Performance</button>
                            <button mat-stroked-button color="primary">Group</button>
                            <button mat-stroked-button color="primary">Ungroup</button>
                            <button mat-flat-button color="primary">Go to Files</button>
                        </div>
                        <div class="concert-add-container mt-8" *ngIf="isConcertAddFormShown">
                            <sb-concert-add class="p-8"
                                            [concert]="concertAdd"
                                            (concertAdd)="handleConcertAdd($event)"
                            >
                            </sb-concert-add>
                        </div>
                        <sb-concert-item-list
                            [concert]="operateConcert"
                            [concertItemsSelected]="concertItemsSelected"
                            (concertItemDelete)="handleDeleteConcertItem($event)"
                            (songSelect)="handleSongSelect($event)"
                            (concertItemSelectToggle)="handleConcertItemSelectToggle($event)"
                            (concertItemsReordered)="handleConcertItemsReordered($event)"
                            class="mt-8"
                        >
                        </sb-concert-item-list>
                    </div>

                </div>
                <div class="suggest-container pr-20" fxFlex="1 1 400px">
                    <sb-song-tag-list
                        [tags]="suggestSongSearchTags"
                        [foundTags]="suggestSongsSearchTagsFoundTags"
                        (tagSelect)="handleSuggestSongsSearchTagAdd($event)"
                        (tagSearch)="handleSongListSearchTagSearch($event)"
                        (tagRemove)="handleSuggestSongsSearchTagRemove($event)"
                    >
                    </sb-song-tag-list>

                    <sb-suggested-song-list
                        [result]="suggestSongsBeforeFoundSongsResult"
                        [title]="'Usually prepended with:'"
                        [dataFilter]="suggestSongsBeforeDataFilter"
                        [isNavigateControlEnabled]="false"
                        [isRefreshControlEnabled]="true"
                        (songSelect)="handleSuggestItemSelect($event)"
                        (refresh)="handleSuggestSongsBeforeRefresh()"
                        class="mb-16"
                        *ngIf="operateSong"
                    ></sb-suggested-song-list>

                    <sb-suggested-song-list
                        [result]="suggestSongsAfterFoundSongsResult"
                        [title]="'Usually followed by:'"
                        [dataFilter]="suggestSongsAfterDataFilter"
                        [isNavigateControlEnabled]="false"
                        [isRefreshControlEnabled]="true"
                        (songSelect)="handleSuggestItemSelect($event)"
                        (refresh)="handleSuggestSongsAfterRefresh()"
                        class="mb-16"
                        *ngIf="operateSong"
                    ></sb-suggested-song-list>

                    <sb-suggested-song-list
                        [title]="''"
                        [result]="suggestSongsSearchTagsFoundSongsResult"
                        [dataFilter]="suggestSongsSearchTagsDataFilter"
                        [itemFormatter]="suggestSongsSearchTagsFormatter"
                        (songSelect)="handleSongSelect($event)"
                        (filterChange)="handleSuggestSongsSearchTagsDataFilterChange($event)"
                        class="mb-16"
                    ></sb-suggested-song-list>

                    <sb-suggested-song-list
                        [result]="suggestSongsPopularFoundSongsResult"
                        [dataFilter]="suggestSongsPopularDataFilter"
                        [isPlayControlEnabled]="true"
                        [isPlaying]="!!suggestSongsPopularFoundPlayInterval"
                        [itemFormatter]="suggestSongsPopularFormatter"
                        [title]="'Popular Songs'"
                        (songSelect)="handleSuggestItemSelect($event)"
                        (filterChange)="handleSuggestSongsPopularDataFilterChange($event)"
                        (playStateChange)="handleSuggestSongsPopularAutoPlayStateChange()"
                        class="mb-16"
                    ></sb-suggested-song-list>

                    <div class="container">
                    <h4 class="m-0 mb-4">Recent songs</h4>
                    <sb-suggested-controls-date
                        [suggestedDate]="suggestSongsRecentStartDate"
                        (suggestedDateChange)="handleSuggestSongsRecentSuggestedStartDateChange($event)"
                    ></sb-suggested-controls-date>
                        <sb-suggested-song-list
                            [result]="suggestSongsRecentFoundSongsResult"
                            [title]="''"
                            [dataFilter]="suggestSongsRecentDataFilter"
                            [isNavigateControlEnabled]="false"
                            [isRefreshControlEnabled]="true"
                            (songSelect)="handleSuggestItemSelect($event)"
                            (refresh)="handleSuggestSongsRecentRefresh()"
                            class="mb-16"
                        ></sb-suggested-song-list>
                    </div>

                    <div class="container">
                        <h4 class="m-0 mb-4">Abandoned songs</h4>
                        <sb-suggested-controls-date
                            [suggestedDate]="suggestSongsAbandonedStartDate"
                            (suggestedDateChange)="handleSuggestSongsAbandonedSuggestedStartDateChange($event)"
                        ></sb-suggested-controls-date>
                        <sb-suggested-song-list
                            [result]="suggestSongsAbandonedFoundSongsResult"
                            [title]="''"
                            [dataFilter]="suggestSongsAbandonedDataFilter"
                            [isNavigateControlEnabled]="false"
                            [isRefreshControlEnabled]="true"
                            (songSelect)="handleSuggestItemSelect($event)"
                            (refresh)="handleSuggestSongsAbandonedRefresh()"
                            class="mb-16"
                        ></sb-suggested-song-list>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>