 <mat-table [dataSource]="songs">
        <!-- Position Column -->
        <ng-container matColumnDef="id">
            <mat-header-cell *matHeaderCellDef fxFlex="0 0 100px"> Id </mat-header-cell>
            <mat-cell *matCellDef="let item" fxFlex="0 0 100px"> {{item.id}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="title">
            <mat-header-cell *matHeaderCellDef> Title </mat-header-cell>
            <mat-cell *matCellDef="let item"> {{item.header}}</mat-cell>
        </ng-container>

     <ng-container matColumnDef="tags">
         <mat-header-cell *matHeaderCellDef> Tags </mat-header-cell>
         <mat-cell *matCellDef="let item">
             <mat-chip-list *ngIf="item.tags && item.tags.length > 0">
                 <mat-chip *ngFor="let tag of item.tags" (click)="handleTagSelect(tag)">{{tag.title}}</mat-chip>
             </mat-chip-list>

         </mat-cell>
     </ng-container>


     <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
     <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="handleSongSelect(row)"></mat-row>
    </mat-table>
    <mat-paginator [length]="songsCount"
                   [pageSize]="dataFilter.limit"
                   [pageIndex]="dataFilter.getPage(true)"
                   [hidePageSize]="true"
                   (page)="handlePageChange($event)"
    ></mat-paginator>
