<div fxLayout="row wrap" fxLayoutAlign="start center" class="tags-editor">
    <mat-form-field class="tag-list" appearance="standard"  fxFlex="1 1 auto">
        <mat-chip-list #chipList aria-label="Tag search" (keyup)="handleTagSearch($event)">
            <mat-chip
                *ngFor="let tag of tags"
                [selectable]="true"
                [removable]="true"
                (removed)="handleTagDetach(tag)"
            >
                {{tag.title}}
                <mat-icon matChipRemove>cancel</mat-icon>
            </mat-chip>
            <input
                placeholder="{{inputTitle}}"
                #tagInput
                [formControl]="tagCtrl"
                [matAutocomplete]="auto"
                [matChipInputFor]="chipList"
                [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                [matChipInputAddOnBlur]="false"
                (matChipInputTokenEnd)="handleTagCreate($event)">
        </mat-chip-list>
        <mat-autocomplete #auto="matAutocomplete" (optionSelected)="handleTagAttach($event)">
            <mat-option *ngFor="let tag of foundTags" [value]="tag">
                {{tag.title}}
            </mat-option>
        </mat-autocomplete>
    </mat-form-field>
</div>