@import '~@angular/material/theming';

// colors
$sb-form-panel-bg-color: mat-color($mat-blue-gray, 50);

$sb-icon-action-color: mat-color($mat-blue-gray, 300);
$sb-icon-action-active-color: mat-color($mat-blue-gray, 900);

$sb-item-bg-color: mat-color($mat-blue-gray, 50);
$sb-item-selected-bg-color: mat-color($mat-blue, 100);

$sb-item-border-color: mat-color($mat-blue-gray, 200);

$sb-link-action-color: mat-color($mat-blue-gray, 900);

$sb-secondary-text-color: mat-color($mat-blue-gray, 300);

// misc
$sb-form-panel-border-radius: 5px;