<div class="filter-cont" [formGroup]="songSearchForm">
    <mat-form-field appearance="standard" fxFlex="1 1 auto">
        <input matInput #filter placeholder="{{title}}" formControlName="filter" autocomplete="off" [matAutocomplete]="auto">
        <mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngFor="let song of foundSongs" [value]="song.header" (onSelectionChange)="handleSongSelect(song)">
                {{song.header}}
            </mat-option>
        </mat-autocomplete>
    </mat-form-field>
</div>
