<div class="page-layout simple fullwidth song-list">
    <div class="content p-24">
        <div class="mat-card mat-elevation-z4">
            <div class="progress-bar-container">
                <mat-progress-bar [color]="'accent'" [mode]="'indeterminate'" *ngIf="isLoading"></mat-progress-bar>
            </div>
            <div class="toolbar p-12" *ngIf="isToolbarShown">
                <button class="mat-button mat-icon-button">
                    <mat-icon class="secondary-text" aria-hidden="false" aria-label="Example home icon" (click)="handleNavigateBack()">arrow_back</mat-icon>
                </button>
            </div>

            <ng-container *ngIf="view === viewNameEnum.SONG_LIST">

                <div class="search-container px-20">
                    <sb-song-text-search
                        [searchText]="songListSearchText"
                        [title]="'Search songs by title'"
                        (songTextSearch)="handleSongTextSearch($event)"
                        fxFlex="1 0 auto"
                        class="pr-8"
                    ></sb-song-text-search>
                    <sb-song-tag-list
                        [tags]="songListSearchTags"
                        [foundTags]="foundSongListSearchTags"
                        [title]="'Search songs by tags'"
                        (tagSelect)="handleSongListSearchTagAdd($event)"
                        (tagRemove)="handleSongListSearchTagRemove($event)"
                        (tagSearch)="handleSongListSearchTagSearch($event)"
                        fxFlex="2 0 auto"
                        class="pl-8"
                    >
                    </sb-song-tag-list>
                </div>

                <sb-song-list [songs]="songs"
                              [songsCount]="songsCount"
                              [dataFilter]="songsListDataFilter"
                              (filterChange)="handleSongListFilterChange($event)"
                              (songSelect)="handleSongSelect($event)"
                              (tagSelect)="handleSongListSearchTagAdd($event)"
                              *ngIf="view === viewNameEnum.SONG_LIST"
                ></sb-song-list>
            </ng-container>

            <sb-song-view
                [song]="currentSong"
                [foundTags]="foundTags"
                [formErrors$]="formErrors$"
                (tagSearch)="handleTagSearch($event)"
                (tagAttach)="handleTagAttach($event)"
                (tagDetach)="handleTagDetach($event)"
                (tagCreateAttach)="handleTagCreateAndAttach($event)"
                (contentVideoAdd)="handleContentVideoAdd($event)"
                (contentRemove)="handleContentRemove($event)"
                *ngIf="view === viewNameEnum.SONG_VIEW"
            ></sb-song-view>
        </div>
    </div>
</div>
