<ng-container *ngIf="concert">
    <div class="item p-4 mb-4" *ngFor="let item of concert.items; let i = index" fxLayoutAlign="space-between end">
        <div class="title" (click)="handleConcertItemSelect(item)">{{i + 1}}. {{formatConcertItemTitle(item)}}</div>
        <div class="actions">
            <mat-icon (click)="handleSongSelect(item)">remove_red_eye</mat-icon>
            <mat-icon (click)="handleDeleteConcertItem(item)">delete</mat-icon>
            <mat-icon class="draggable">drag_handle</mat-icon>
        </div>
    </div>

</ng-container>