<div class="px-16" *ngIf="song">

    <sb-song-header [song]="song"></sb-song-header>

<!--    to show here: -->

    <!--    other titles, content items (video, texts etc.), tags, [amount of performances, calendar with performances] -->
    <!--    [matching with another songs (often taken before/after)] -->
    <!--    form for adding content, [input for tags] -->
    <sb-song-tag-list
        [tags]="song.tags"
        [foundTags]="foundTags"
        (tagSearch)="handleTagSearch($event)"
        (tagSelect)="handleTagAttach($event)"
        (tagRemove)="handleTagDetach($event)"
        (tagCreate)="handleTagCreate($event)"
    ></sb-song-tag-list>


    <mat-tab-group>

        <mat-tab label="Video">

            <div class="controls-row my-16 mx-16" fxLayoutAlign="end start">
                <button mat-fab color="accent" fxFlex="0 0 auto" (click)="handleContentVideoAddToggle()">+</button>
            </div>

            <div class="content-add-video-container my-16 mx-16" fxLayoutAlign="end start" *ngIf="isContentVideoAddShown">
                <sb-song-content-video-add [formErrors$]="formErrors$" (contentVideoAdd)="handleContentVideoAdd($event)" fxFlex="50" class="p-8"></sb-song-content-video-add>
            </div>

            <sb-song-content-list-video
                [song]="song"
                (contentRemove)="handleContentRemove($event)"
            >
            </sb-song-content-list-video>
        </mat-tab>
        <mat-tab label="Files"> Content 2 </mat-tab>
    </mat-tab-group>

</div>
